<footer class="footer-section" id="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-base">
                <div class="footer-main">
                    <a class="footer-logo" href="./index.html">english<span
                            class="footer-logo-span">exsellence</span><span class="footer-logo">.</span>
                    </a>
                    <address>
                        <ul class="footer-contacts-list">
                            <li class="footer-contacts-item">
                                <span class="footer-address-title">Phone number:
                                </span>
                                <a class="footer-contact-link" href="tel:+380684439426" aria-label="+380684439426">
                                    +380 (68) 443-94-26
                                </a>
                            </li>
                            <li class="footer-contacts-item">
                                <span class="footer-address-title">Address:
                                </span>
                                <span class="footer-contact-link">
                                    32a M. Bazhana ave
                                </span>
                            </li>
                        </ul>
                    </address>
                </div>
                <nav class="footer-nav">
                    <ul class="footer-nav-list">
                        <li><a class="footer-nav-link" href="#about">About as</a></li>
                        <li><a class="footer-nav-link" href="#lessons">Our lessons</a></li>
                        <li><a class="footer-nav-link" href="#teachers">Teachers</a></li>
                        <li><a class="footer-nav-link" href="#reviews">Reviews</a></li>
                        <li><a class="footer-nav-link" href="#leave-application-section">Contact us</a></li>
                    </ul>
                </nav>
                <ul class="footer-social-media-list">
                    <li>
                        <a class="footer-social-media-link" href="https://www.facebook.com/goITclub">
                            <svg width="24" height="24">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="footer-social-media-link" href="https://www.instagram.com/goitclub">
                            <svg width="24" height="24">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="footer-social-media-link" href="https://www.youtube.com/c/GoIT">
                            <svg width="24" height="24">
                                <use href="./img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-rights-section">
                <span class="footer-rights-text">©2023 English Excellence. All rights reserved.
                </span>
                <ul class="footer-rights-list">
                    <li>
                        <a class="footer-rights-text" href="" aria-label="Privacy Policy">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a class="footer-rights-text" href="" aria-label="Terms of Service">
                            Terms of Service
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>