<header id="header" class="header">
  <div class="container main-nav">
    <nav class="logo-link">
      <a href="./index.html" class="logo-first"
        >english<span class="logo-second">excellence</span>.</a
      >

      <button
        type="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-icon" aria-label="Mobile menu switcher">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="site-nav">
        <li class="item"><a href="#about" class="link">About us</a></li>
        <li class="item">
          <a href="#lessons" class="link">Our lessons</a>
        </li>
        <li class="item"><a href="" class="link">Teachers</a></li>
        <li class="item"><a href="" class="link">Reviews</a></li>
        <li class="item">
          <a href="#leave-application-section" class="link">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="menu-contact">
      <ul class="socials-list">
        <li class="socials-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="socials-link"
          >
            <svg class="socials-icon">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="socials-link"
          >
            <svg class="socials-icon">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="socials-link"
          >
            <svg class="socials-icon">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- burger-menu -->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <!-- <div class="backdrop"> -->
      <button type="button" class="menu-toggle js-close-menu">
        <svg class="mobile-icon-close" aria-label="Mobile menu switcher">
          <use class="icon-cross" href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="site-nav mobile">
        <li class="item mobile">
          <a class="js-close-menu link-mobile" href="#about">About us</a>
        </li>
        <li class="item mobile">
          <a href="#lessons" class="js-close-menu link-mobile">Our lessons</a>
        </li>
        <li class="item mobile">
          <a href="#" class="js-close-menu link-mobile">Teachers</a>
        </li>
        <li class="item mobile">
          <a href="#" class="js-close-menu link-mobile">Reviews</a>
        </li>
        <li class="item mobile">
          <a href="#leave-application-section" class="js-close-menu link-mobile"
            >Contact us</a
          >
        </li>
      </ul>

      <ul class="socials-list mobile">
        <li class="socials-item mobile">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="socials-link mobile"
          >
            <svg class="socials-icon-mobile">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item mobile">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="socials-link mobile"
          >
            <svg class="socials-icon-mobile">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item mobile">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="socials-link mobile"
          >
            <svg class="socials-icon-mobile">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</header>
