<section class="section leave-application-section" id="leave-application-section">
    <div class="container">
        <h2 class="section-title">Leave an <span class="section-title-highlighted">application</span></h2>
        <p class="section-description">
            Please use the form below to contact us. Enter your name, email, and
            message and we'll get back to you shortly.
        </p>
        <div class="leave-application-section-content">
            <div class="leave-application-section-info">
                Some test text
            </div>
            <form class="leave-application-section-form" action="#" method="post">
                <input class="textfield-input" type="text" name="name" id="name" placeholder="Name" />
                <input class="textfield-input" type="email" name="email" id="email" placeholder="Email" />
                <input class="textfield-input" type="tel" name="phone" id="phone" placeholder="Phone" />
                <textarea class="textfield-input" name="comment" id="comment" rows="3" placeholder="Comment"></textarea>
                <p class="leave-application-section-form-title">Choose a teacher</p>
                <ul class="leave-application-section-choose-list">
                    <li class="leave-application-section-choose-list-item">
                        <div class="radio">
                            <input class="radio-native" type="radio" name="choose-teacher" value="Maria" id="Maria" />
                            <label class="radio-label" for="Maria">Maria</label>
                        </div>
                    </li>
                    <li class="leave-application-section-choose-list-item">
                        <div class="radio">
                            <input class="radio-native" type="radio" name="choose-teacher" value="Artem" id="Artem" />
                            <label class="radio-label" for="Artem">Artem</label>
                        </div>
                    </li>
                    <li class="leave-application-section-choose-list-item">
                        <div class="radio">
                            <input class="radio-native" type="radio" name="choose-teacher" value="Ilona" id="Ilona" />
                            <label class="radio-label" for="Ilona">Ilona</label>
                        </div>
                    </li>
                    <li class="leave-application-section-choose-list-item">
                        <div class="radio">
                            <input class="radio-native" type="radio" name="choose-teacher" value="Volodymyr"
                                id="Volodymyr" />
                            <label class="radio-label" for="Volodymyr">Volodymyr</label>
                        </div>
                    </li>
                </ul>
                <button class="button" type="submit">Send</button>
                <p class="leave-application-section-privacy-text">
                    By clicking on “Send” button, you agree to our
                    <a class="leave-application-section-privacy-link" href="#">Privacy Policy</a>, and allow Promodo to
                    use this information for marketing purposes.
                </p>
            </form>
        </div>
    </div>
</section>