<section class="section" id="lessons">
  <div class="container">
    <h2 class="section-title">
      Our <span class="section-title-highlighted">lessons</span>
    </h2>
    <p class="section-description lessons-description">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="lessons-list">
      <li class="lessons-item">
        <h3 class="lessons-item-title">Practice</h3>
        <p class="lessons-item-price">40$ / month</p>
        <p class="lessons-item-description">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a
          href="#leave-application-section"
          class="button button--block"
          aria-label="link to section leave an application"
          >Leave an application</a
        >
      </li>
      <li class="lessons-item">
        <h3 class="lessons-item-title">Standart</h3>
        <p class="lessons-item-price">70$ / month</p>
        <p class="lessons-item-description">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a
          href="#leave-application-section"
          class="button button--inverted button--block"
          aria-label="link to section leave an application"
          >Leave an application</a
        >
      </li>
      <li class="lessons-item">
        <h3 class="lessons-item-title">Individual</h3>
        <p class="lessons-item-price">99$ / month</p>
        <p class="lessons-item-description">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a
          href="#leave-application-section"
          class="button button--block"
          aria-label="link to section leave an application"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
