<section class="proposal">
  <div class="container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>
    <h3 class="section-title">
      Master the <span class="highlighted">Language</span> with Our English
      Package!
    </h3>
    <div class="proposal-wrapper">
      <div class="text-content">
        <p>Power of English</p>
        <ul>
          <li>
            Dive into captivating lessons designed to stimulate your curiosity.
          </li>
          <li>
            Learn in a nurturing setting where every student's progress matters.
          </li>
          <li>
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </li>
        </ul>
      </div>
      <a href="#leave-application-section">Leave an application</a>
      <img
        class="proposal-img"
        src="../img/proposal/books.png"
        alt="book stack"
        srcset="../img/proposal/books.png 1x, ../img/proposal/books@2x.png 2x"
      />
    </div>
    <div class="proposal-overlay"></div>
  </div>
</section>
