<section class="section proposal">
  <div class="container">
    <div class="proposal-wrapper">
      <h2 class="visually-hidden">Proposal to leave an application</h2>
      <h3 class="section-title proposal-section-title">
        Master the <span class="highlighted">Language</span> with Our English
        Package!
      </h3>
      <div class="proposal-text">
        <div class="proposal-overlay"></div>
        <div class="proposal-text-content">
          <p class="proposal-description">Power of English</p>
          <ul class="proposal-list">
            <li class="proposal-list-item">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </li>
            <li class="proposal-list-item">
              Learn in a nurturing setting where every student's progress
              matters.
            </li>
            <li class="proposal-list-item">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </li>
          </ul>
          <a class="proposal-link" href="#leave-application-section"
            >Leave an application</a
          >
        </div>

        <img
          class="proposal-img"
          src="../img/proposal/books.png"
          alt="book stack"
          srcset="
            ../img/proposal/books.webp    1x,
            ../img/proposal/books@2x.webp 2x,
            ../img/proposal/books.png     1x,
            ../img/proposal/books@2x.png  2x
          "
        />
      </div>
    </div>
  </div>
</section>
