:root {
  --black: #121417;
  --black-50-transparent: rgba(18, 20, 23, 0.5);
  --green: #4dc274;
  --green-active: #38ae5f;
  --green-middle: #bee8cc;
  --green-light: #d4fde1;
  --green-gradient: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  --gray: #f3f5f6;
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.5);
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font-family: 'Manrope', sans-serif;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--main-font-family);
  color: var(--black-50-transparent);
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .section {
  padding-top: 40px;
  padding-bottom: 40px;
} */

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local('Manrope'),
    url(../../fonts/Manrope/manrope-v14-latin-regular.woff2) format('woff2'),
    url(../../fonts/Manrope/manrope-v14-latin-regular.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: local('Manrope'),
    url(../../fonts/Manrope/manrope-v14-latin-600.woff2) format('woff2'),
    url(../../fonts/Manrope/manrope-v14-latin-600.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local('Manrope'),
    url(../../fonts/Manrope/manrope-v14-latin-700.woff2) format('woff2'),
    url(../../fonts/Manrope/manrope-v14-latin-700.ttf) format('truetype');
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  color: var(--black);
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.64px;
  text-align: center;
  margin-bottom: 14px;
}

.section-title-highlighted {
  position: relative;
}

.section-title-highlighted::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}
.about-title-decor {
  position: relative;
}

.about-title-decor::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}

.section-description {
  font-size: 14px;
  line-height: 1.71429;
  color: var(--black-50-transparent);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 16px;
  }

  .section-title-highlighted::after {
    transform: translate(-50%, 0);
    height: 20px;
  }

  .section-description {
    font-size: 18px;
    line-height: 1.66667;
    margin-bottom: 64px;
  }
}

.button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 700;
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--white);
  padding: 13px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: var(--transition-timing);
  transition-property: background-color, border-color;
}

.button:hover,
.button:focus {
  background-color: var(--green-active);
  border-color: var(--green-active);
}

.button.button--inverted {
  border-color: rgba(255, 255, 255, 0.4);
}

.button.button--inverted:hover,
.button.button--inverted:focus {
  background-color: var(--white);
  color: var(--green);
}

.button.button--block {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    line-height: 1.55556;
    padding: 15px 24px;
  }
}

.textfield-input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--black);
  background-color: transparent;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  margin-bottom: 18px;
  transition: border-color var(--transition-timing);
}

.textfield-input::placeholder {
  color: var(--black);
}

textarea.textfield-input {
  height: 94px;
  resize: none;
}

.textfield-input:focus {
  border-color: var(--green);
  outline: none;
}

@media only screen and (min-width: 768px) {
  .textfield-input {
    font-size: 16px;
    line-height: 1.5;
  }

  textarea.textfield-input {
    height: 104px;
  }
}

.radio {
  position: relative;
  color: var(--black);
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: -0.28px;
  user-select: none;
}

.radio-native {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}

.radio-label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  padding: 2px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  border-radius: 50%;
  transform: translateY(-50%);
  user-select: none;
  background-clip: content-box;
  transition: var(--transition-timing);
  transition-property: border-color, background-color;
}

.radio-native:hover ~ .radio-label:before,
.radio-native:focus ~ .radio-label:before {
  border-color: var(--green);
}

.radio-native:checked ~ .radio-label:before {
  background-color: var(--green);
  border-color: var(--green);
}

@media only screen and (min-width: 768px) {
  .radio {
    font-size: 18px;
    line-height: 1.33333;
  }

  .radio-label::before {
    width: 20px;
    height: 20px;
    padding: 3px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}
