.footer-section {
    background: var(--black);
    padding-top: 40px;
    padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
.footer-section {
    padding-top: 32px;
    }
}
@media screen and (min-width: 1280px) {
.footer-section {
    padding-top: 64px;
    }
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
}
@media screen and (min-width: 768px) {
.footer-container {
    row-gap: 110px;
    }
}
@media screen and (min-width: 1280px) {
.footer-container {
    row-gap: 64px;
    }
}

.footer-base {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
}
@media screen and (min-width: 768px) {
.footer-base {
    flex-direction: row;
    }
}
@media screen and (min-width: 1280px) {
.footer-base {
    column-gap: calc((100% - 404px) / 2);
    }
}

.footer-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
}
@media screen and (min-width: 768px) {
.footer-main {
    row-gap: 32px;
    margin-right: 152px;
    }
}
@media screen and (min-width: 1280px) {
.footer-main {
    margin-right: 0px;
    }
}

@media screen and (min-width: 768px) {
.footer-nav{
    margin-right: 131px;
    }
}
@media screen and (min-width: 1280px) {
.footer-nav {
    margin-right: 0;
    }
}

.footer-logo {
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27.32px;
}

.footer-logo-span {
    color: var(--green);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27.32px;
}

.footer-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-contacts-item{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.footer-address-title{
    color: rgba(255, 255, 255, 0.6);;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    opacity: 0.9;
}

.footer-contact-link {
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-nav-link {
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.footer-social-media-list {
    display: flex;
    column-gap: 12px;
}

.footer-social-media-link {
    background-color: var(--black);
    fill: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 0.8;
}

.footer-rights-section{
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
.footer-rights-section {
    flex-direction: row;
    column-gap: 218px;

    padding-top: 16px;
    }
}
@media screen and (min-width: 1280px) {
.footer-rights-section {
    column-gap: calc((100% - 481px));

    padding-top: 23px;
    }
}

.footer-rights-list{
    display: flex;
    column-gap: 18px;
}


.footer-rights-text{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    opacity: 0.9;
}