/* mobile 1x */

.hero-section {
  color: var(--white);
}

.hero-title {
  margin-bottom: clamp(36px, 10.7vw, 40px);
  font-size: 38px;
  font-size: clamp(32px, 10.14vw, 38px);
  font-weight: 700;
  line-height: 1.05;
}

@media screen and (min-width: 768px) {
  .hero-title {
    display: block;
    max-width: 488px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 564px;
  }
}

.hero-title-accent {
  color: var(--green-middle);
}

.hero-container {
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;

  width: clamp(278px, calc(100vw - 40px), 335px);
  height: clamp(604px, 189vw, 708px);
  padding: 20px;
  padding: clamp(16px, 5.334vw, 20px);
  padding-bottom: 72px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 704px;
    height: 857px;
    padding: 260px 32px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1152px;
    height: 629px;
    padding: 0 64px;
    align-items: center;
  }
}

.leave-an-application-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 295px;
  width: clamp(250px, 78.67vw, 295px);
  height: 52px;

  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;

  border-radius: 12px;
  border: none;
  background: var(--green);

  transition: background-color var(--transition-timing);
}

.leave-an-application-link:hover,
.leave-an-application-link:focus {
  background-color: var(--green-active);
  transition: background-color var(--transition-timing);
}

@media screen and (min-width: 768px) {
  .leave-an-application-link {
    width: 306px;
    height: 60px;
    color: var(--white);
    font-size: 18px;
    line-height: 1.56;
  }
}

.hero-scroll {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;

  position: absolute;
  bottom: 14px;
  right: 14px;

  border-radius: 50%;
  background-color: var(--white);

  transition: background-color var(--transition-timing);
}

.hero-scroll:hover,
.hero-scroll:focus {
  transform: translateY(1px);
  background-color: var(--green);
}

@media screen and (min-width: 768px) {
  .hero-scroll {
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
  }
}

.hero-scroll-down {
  fill: var(--green);
  transition: fill var(--transition-timing), transform var(--transition-timing);
}

.hero-scroll:hover .hero-scroll-down,
.hero-scroll:focus .hero-scroll-down {
  fill: var(--white);
}

.hero-bg-image {
  border-radius: 16px;
  background: linear-gradient(
      57deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/hero/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

/* mobile 2x */

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-bg-image {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/hero/hero-mobile@2x.jpg) no-repeat;
    background-size: cover;
  }
}

/* tablet 1x */

@media screen and (min-width: 768px) {
  .hero-bg-image {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/hero/hero-tablet.jpg) no-repeat;
  }
}

/* tablet 2x */

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg-image {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/hero/hero-tablet@2x.jpg) no-repeat;
    background-size: cover;
  }
}

/* desktop 1x */

@media screen and (min-width: 1280px) {
  .hero-bg-image {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/hero/hero.jpg) no-repeat;
    background-size: cover;
  }
}

/* desktop 2x */

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-bg-image {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../img/hero/hero@2x.jpg) no-repeat;
    background-size: cover;
  }
}
