.leave-application-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.leave-application-section-info {
  display: none;
}

.leave-application-section-form-title {
  color: var(--black);
  font-size: 18px;
  line-height: 1.33333;
  font-weight: 600;
  letter-spacing: -0.36px;
  margin-bottom: 16px;
}

.leave-application-section-choose-list {
  margin-bottom: 40px;
}

.leave-application-section-choose-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.leave-application-section-button {
  margin-bottom: 16px;
}

.leave-application-section-privacy-text {
  color: var(--black-50-transparent);
  font-size: 12px;
  line-height: 1.33333;
}

.leave-application-section-privacy-link {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .leave-application-section-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .leave-application-section-content textarea.textfield-input {
    margin-bottom: 32px;
  }

  .leave-application-section-choose-list {
    display: flex;
    gap: 20px;
  }
  

  .leave-application-section-form-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .leave-application-section-choose-list {
    margin-bottom: 24px;
  }

  .leave-application-section-choose-list-item {
    margin-bottom: 0;;
  }

  .leave-application-section-privacy-text {
    font-size: 14px;
    line-height: 1.71429;
  }
}
