.section-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 16px;
  margin-bottom: 40px;
}

.student-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--white);
}

.student-item-description {
  font-size: 12px;
  line-height: 1.33333;
  color: rgba(255, 255, 255, 0.5);
}

.student-item-text {
  font-size: 14px;
  line-height: 1.71429;
  color: var(--black-50-transparent);
  padding: 0 16px;
}

.student-descr-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.review-section-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 16px;
  border-radius: 16px;
  max-width: 335px;
  background: var(--gray);
}

.review-section-item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 14px;
  border-radius: 8px;
  height: 78px;
  background: var(--green);
}

@media screen and (min-width: 768px) {
  .review-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .student-item-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .review-section-item {
    gap: 32px;
    width: calc((100% - 1 * 32px) / 2);
    padding: 32px 16px;
    border-radius: 30px;
  }

  .review-section-item-wrapper {
    border-radius: 15px;
    padding: 16px;
  }

  .student-item {
    display: flex;
    width: 272px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .student-item-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .review-section-list {
    flex-wrap: nowrap;
  }

  .review-section-item {
    width: calc((100% - 2 * 32px) / 3);
  }
}

@media only screen and (max-width: 767px) {
  .review-section-list .review-section-item:not(:first-child) {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .review-section-list
    .review-section-item:not(:first-child):not(:nth-child(2)) {
    display: none;
  }
}
