@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./our_lessons.css');
@import url('./proposal.css');
@import url('./meet_our_teaches.css');
@import url('./leave_application.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./mobile_menu.css');
/* @import url('./mobile_menu.css'); */
@import url('./scroll-button.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');
